{% extends 'base.html' %}

{% block content %}

    <h3>Analysis Results: </h3> 

    {% if cluster_img %}

        <h4>Cluster</h4>
        <img width="500" src="{{ url_for('static', filename=cluster_img) }}"/>
    
    {% endif %}

    {% if lin_reg_img %}

        <h4>Linear Regression</h4>
        <img width="500" src="{{ url_for('static', filename=lin_reg_img) }}"/>

    {% endif %}

    {% if cluster_outlier_img %}

        <h4>Outlier</h4>
        <img width="500" src="{{ url_for('static', filename=cluster_outlier_img) }}"/>

    {% endif %}

{% endblock content %}
   