{% extends 'base.html' %}

{% block body %}

    {% block content %}

    {% endblock content %}

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            button = document.getElementById('next-button');
            button.onclick = () => {
                const request = new XMLHttpRequest();
                request.open('POST', "{% block url %}{% endblock url %}");
                request.onload = () =>{
                    const newHtml = request.responseText;
                    // rewrite the body tag
                    document.querySelector('body').innerHTML = newHtml;
                };
                request.send();
            }
        });
    </script>

{% endblock body %}